/* ENHANCEMENT: don't size text in px */
body {
    line-height: 1.35;
    font-size: 1rem;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}

/* ENHANCEMENT: style the subscribe form predictably */

 form > * { font-family: "Helvetica Neue", Helvetica, Arial, Sans-Serif; }
 form input.flat-button {letter-spacing: 0; box-shadow: none;  }
 form input.flat-button:hover {background-color: #ffdd00; color: #0b0c0c; box-shadow: none;}
 a.flat-button {letter-spacing: 0; color:white; box-shadow: none;}
 a.flat-button:link {color:white;}
 a.flat-button:hover {background-color: #ffdd00; color: #0b0c0c; box-shadow: none;}

.font-regular {
    font-size: 1.2rem;
    line-height: 1.35;
}

/* ENHANCEMENT: make header full width */
.layout-content.status .masthead-container.premium {
    max-width: none;
}

.layout-content.status .masthead-container.premium .masthead .images-container {
    background-size: contain;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-color: #1d70b8;
}

.font-largest {
    font-weight: 400;
}

.layout-content.status
.masthead-container.premium
.masthead
.text-container
.page-name {
    /* AS23: remove text-overflow: ellipsis; so that text is always visible */
    white-space: unset;
    text-overflow: unset;
    /* Control typography when content spreads over more than one line */
    line-height: 1;
    padding: 0.2rem 0;
}

/* link formatting */

/* link styles copied from the current design system CSS */
a {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-decoration: underline;
}

a:focus {
    outline: 3px solid rgba(0, 0, 0, 0);
    color: #0b0c0c;
    background-color: #fd0;
    box-shadow: 0 -2px #fd0, 0 4px #0b0c0c;
    text-decoration: none;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
}

a:link {
    color: #1d70b8;
    text-decoration: underline;
}

a:visited {
    color: #4c2c92;
    text-decoration: underline;
}

a:hover {
    color: #003078;
    text-decoration: underline;
}

a:active {
    color: #0b0c0c;
    text-decoration: underline;
}

/* ensure all links have underlines */
a.no-link {
    text-decoration: underline;
}

a.no-link:hover {
    text-decoration: underline;
}

.layout-content.status.status-index
.incidents-list
.incident-title.impact-maintenance
a:hover {
    color: #003078;
    text-decoration: underline;
}

/* remove underline from only the 'subscribe to updates' button */
#show-updates-dropdown {
    text-decoration: none;
}

.status .container .page-footer span a:hover {
    color: #003078;
    text-decoration: underline;
}

/* ENHANCEMENT: tell users when pages open in a new tab */
a[target="_blank"]:after {
    content: " (opens in a new tab)";
}

/* colour contrast */

.color-secondary {
    color: #0b0c0c;
}

.layout-content.status .legend .legend-item,
.layout-content.status .legend .legend-item.light {
    color: #505a5f !important;
    opacity: 1 !important;
}

/* ENHANCEMENT: harmonise rule/border usage with other GDS designs */
.layout-content.status .incidents-list.format-expanded .status-day {
    margin-top: 15px;
}

.layout-content.status .incidents-list.format-expanded .status-day .date {
    border-bottom-width: 0;
    border-top-width: 1px;
    margin-bottom: 0;
    padding-bottom: 0;
    padding-top: 10px;
    font-weight: 700;
}

.incident-container {
    padding: 20px 0 45px 0;
}

/* ENHANCEMENT: use the notification banner pattern for the current state */

.layout-content.status.status-index .page-status {
    background-color: white !important;
    border: 5px solid #1d70b8;
    border-radius: 0;
    text-shadow: none;
    padding: 0;
}

.layout-content.status.status-index .page-status > span {
    position: static;
    font-size: 2rem;
    font-weight: 700;
    padding: 0 20px 20px 20px;
    display: block;
    line-height: 1.05;
    color: #0b0c0c !important;
}

.layout-content.status.status-index .page-status:before {
    content: "Current status";
    text-transform: none;
    display: block;
    background-color: #1d70b8;
    color: white;
    padding: 2px 0 7px 20px;
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 1.2rem;
    line-height: 1.4;
}

/* on history page, show complete content */

.layout-content.status.status-full-history .months-container .month .incident-container .incident-body {
    text-overflow: unset;
    overflow: unset;
    white-space: unset;
}

/* An example of the incident page: https://status.account.gov.uk/incidents/jq7trv19gyf1 */
/* ENHANCEMENT: add heading to incident pages */

body.status.incident:before {
    background-color: #0b0c0c;
    content: 'GOV.UK One Login status updates';
    display: block;
    color: #fff;
    font-weight: 400;
    font-size: 16px;
    line-height: 1;
    padding: 16px;
    width: 100%;
    overflow-wrap: break-word;
}

/* readability: left-align and correctly style incident headings, and remove ellipsis behaviour */

.layout-content.status.status-incident .page-title {
    text-align: left;
}

.layout-content.status.status-incident .page-title .incident-name, .update-title.span3.font-large {
    font-weight: 700;
}

.layout-content.status.status-incident .page-title .incident-name {
    line-height: 1.14;
    margin-bottom: 1.5rem;
    overflow: unset;
    text-overflow: unset;
}

/* do not remove incident page heading content when text resized */
@media screen and (max-width: 650px) {
    .layout-content.status.status-incident .page-title .subheader:not(.scheduled-for) {
        display: block;
    }
}

.layout-content.status.status-incident .page-title .subheader {
    line-height: 1.2;
}

/* make the reason for the outage more visible and style it as design system inset text */
.layout-content.status.status-incident .components-affected {
    font-size: 1.2rem;
    line-height: 1.35;
    margin: 60px 0 60px 0;
    border: 0;
    border-radius: unset;
    border-left: 10px solid #b1b4b6;
    padding: 15px;
    color: #0b0c0c;
}

/* mobile readability: linearise rows on small screens */
@media screen and (max-width: 650px) {
    .row > * {
        float: none !important;
        width: auto !important;
    }
}

/* The non-historical component status states */

.component-status {font-weight: 700; }
/* degraded performance */
.components-container .component-inner-container.status-yellow .component-status { color:#b58840; } /* GDS brown */
/* partial outage */
.components-container .component-inner-container.status-orange .component-status { color:#b58840; } /* GDS brown */
/* major outage */
.components-container .component-inner-container.status-red .component-status { color:#d4351c; ;} /* GDS error */
/* under maintenance */
.components-container .component-inner-container.status-blue .component-status { color:#1d70b8; } /* GDS blue */
/* operational */
.components-container .component-inner-container.status-green .component-status { color:#00703c; } /* GDS green */

/* use bold font weight for service names */
.layout-content.status.status-index .components-section .component-container .name {font-weight:700; }

/* reduce the visual weight of the child status items */
.layout-content.status.status-index .components-section .component-container .child-components-container .component-inner-container .name {
    white-space:unset!important; font-weight:400; color: #505a5f;
}


/* incident history page remove underline from arrows */

a.previous-page, a.next-page {text-decoration:none;}
a.previous-page:hover, a.next-page:hover {background-color: #ffdd00;}

/* make incident text readable for incident history in new non-visualisation layout */
.container > h4 {font-weight: 700;}
.month-title {font-size: 1.2rem; font-weight: 700;}
.incident-history span.small {color:#0b0c0c; font-size: 1.2rem;}

